<h1>Log In </h1>
<form action="<%=session_url%>" method="POST">
    <label> username
        <input type="text" name="user[username]" value="">
    </label>
    <label> password
        <input type="password" name="user[password]" value="">
    </label>
    <button>Sign In</button>
</form>
