<h1>Sign Up </h1>
<form action="<%=users_url%>" method="POST">
    <label> username
        <input type="text" name="user[username]" value="">
    </label>
    <label> password
        <input type="password" name="user[password]" value="">
    </label>
    <button>Create Account</button>
</form>
